//Sign In Page Styling

.signin-container, .register-container {
  max-width: 500px;
  margin: 0 auto;
  h1{
    font-size:2.5em;
    margin-top: 1.5em;
  }
  img {
    max-height:250px;
    max-width:250px;
    display:block;
    margin: 10px auto;
  
  }
  h1, p{
    text-align: center;
    padding:5px;
  }
  input {
    border-radius: 10px;
    padding-left: 40px;
    &:focus {
      outline-color: rgb(32,209,126);
    }
  }
  .inputWithIcon {
    position:relative;
    &:focus-within {
      i {
        color:  rgb(32,209,126);
      }
    }
  }

  i{
    position: absolute;
    left:0;
    top:10px;
    padding:2px 9px;
    color:#aaa;
    transition: .3s;
  }
  a{
    color:red;
  }
  .signin-btn {
    display: inline-block;
    min-width: 100%;
    background: rgb(32,209,126);
    color: #fff;
    padding: 0.4rem 1.3rem;
    margin-bottom: 1em;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    &:hover {
      background: rgb(81, 224, 157);
    }
  }
}

.outside-signin {
  max-width: 500px;
  font-family: 'Nunito';
  margin: 0 auto;
  display: flex;
  justify-content: center;
  button {
    color:#333;
    padding:3px;
    margin: 3px;
    background-color:#fff;
    border-radius: 5px;
    border: 1.5px solid #333;
    transition: background-color 0.2s ease-in, color 0.2s ease-in, border-color 0.2 ease-in;
    &:hover {
      color:coral;
    }
  }
}

// Register Page styling

.register-container{
  margin: 0 auto;
  text-align: center;
  margin-bottom:200px;
  // display:flex;
  // justify-content: space-around;
}

.password-criteria {
  margin-bottom: 1.25em;
  transition: height 0.25s ease-in-out;

  ul {
    font-family: sans-serif;
    list-style: none;
    text-align: left;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    padding: 10px 20px;

    &:last-child {
      margin-bottom: 0;
    }

    li {
      margin-bottom: 0.5em;
    }
  }
}
